In [53]:
import pandas as pd
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 200)

import datetime

import numpy as np
from matplotlib import pyplot as plt
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
import seaborn as sns
sns.set(style="whitegrid")

In [54]:
df = pd.read_csv('kc_house_data_train.csv')
df.rename(columns = {'Unnamed: 0': 'index'}, inplace = True)
df.set_index('index', inplace = True)

In [55]:
type(df.zipcode[0])

numpy.int64

In [56]:
zip_money_df = pd.read_csv('Seatle_Income_Population.csv')
zip_money_df.head()

   id  zipcode population  income   rank
0   1    98177     18,920  65,514  2,076
1   2    98112     20,480  59,693  3,074
2   3    98199     19,156  59,542  3,103
3   4    98115     43,567  58,475  3,273
4   5    98136     14,138  56,455  3,765

In [57]:
def comma_be_gone_into_int(x):
    return int(x.replace(',',''))

In [58]:
zip_money_df['income'] = [comma_be_gone_into_int(x) for x in zip_money_df.income]
zip_money_df['population'] = [comma_be_gone_into_int(x) for x in zip_money_df.population]

In [59]:
zip_money_dict = dict(zip(zip_money_df.zipcode.values, zip_money_df.income.values))

zip_population_dict = dict(zip(zip_money_df.zipcode.values, zip_money_df.population.values))

In [83]:
average_money = round(np.mean(list(zip_money_dict.values())[:-3]))
average_population = round(np.mean(list(zip_population_dict.values())))

In [98]:
income = []

for i in df.zipcode.values:
    income.append(zip_money_dict.get(i,average_money))

df['income'] = np.array(income)


population = []

for i in df.zipcode.values:
    population.append(zip_population_dict.get(i,average_population))

df['population'] = np.array(population)