In [63]:
import pandas as pd
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 200)

import datetime

import scipy.stats

import numpy as np
from matplotlib import pyplot as plt

#import

In [64]:
df = pd.read_csv('kc_house_data_train.csv')
df.rename(columns = {'Unnamed: 0': 'index'}, inplace = True)
df.set_index('index', inplace = True)

In [65]:
df.view.value_counts()

0    15571
2      775
3      410
4      270
1      264
Name: view, dtype: int64

In [66]:
yes_view = df[df.view != 0].price
no_view = df[df.view == 0].price

scipy.stats.ttest_ind(yes_view, no_view, axis=0, equal_var=True, nan_policy='omit')

Ttest_indResult(statistic=49.84632672319032, pvalue=0.0)

In [48]:
df.condition.value_counts()

3    11244
4     4516
5     1367
2      139
1       24
Name: condition, dtype: int64

In [49]:
condition_3 = df[df.condition == 3].price
condition_not_3 = df[df.condition != 3].price

a = condition_3 
b = condition_not_3

scipy.stats.ttest_ind(a , b, axis=0, equal_var=True, nan_policy='omit')

Ttest_indResult(statistic=0.8612880843767144, pvalue=0.38909134201496676)

In [50]:
condition_4 = df[df.condition == 4].price
condition_not_4 = df[df.condition != 4].price

a = condition_4 
b = condition_not_4

scipy.stats.ttest_ind(a , b, axis=0, equal_var=True, nan_policy='omit')

Ttest_indResult(statistic=-4.153578778500786, pvalue=3.288871227881001e-05)

In [51]:
condition_5 = df[df.condition == 5].price
condition_not_5 = df[df.condition != 5].price

a = condition_5 
b = condition_not_5

scipy.stats.ttest_ind(a , b, axis=0, equal_var=True, nan_policy='omit')

Ttest_indResult(statistic=7.712783929663902, pvalue=1.2977175253253445e-14)

In [52]:
condition_2 = df[df.condition == 2].price
condition_not_2 = df[df.condition != 2].price

a = condition_2 
b = condition_not_2

scipy.stats.ttest_ind(a , b, axis=0, equal_var=True, nan_policy='omit')

Ttest_indResult(statistic=-6.386159300533307, pvalue=1.744414792532167e-10)

In [53]:
condition_1 = df[df.condition == 1].price
condition_not_1 = df[df.condition != 1].price

a = condition_1
b = condition_not_1

scipy.stats.ttest_ind(a , b, axis=0, equal_var=True, nan_policy='omit')

Ttest_indResult(statistic=-2.5528080975618956, pvalue=0.010694349626791083)

make dummy variables for condition in a seperate df. rename them. concatenate to original dataframe.

In [62]:
df = pd.read_csv('kc_house_data_train.csv')
df.rename(columns = {'Unnamed: 0': 'index'}, inplace = True)
df.set_index('index', inplace = True)

dummy = pd.get_dummies(df.condition)
df_condition = pd.concat([dummy,df], axis = 1)

       1  2  3  4  5
index
0      0  0  0  1  0
1      0  0  0  0  1
2      0  0  1  0  0
3      0  0  1  0  0
4      0  0  1  0  0
...   .. .. .. .. ..
17285  0  0  1  0  0
17286  0  0  1  0  0
17287  0  0  1  0  0
17288  0  0  0  1  0
17289  0  0  0  1  0

[17290 rows x 5 columns]

In [55]:
df_condition = df_condition[[1,2,3,4,5]]

In [56]:
df_condition

       1  2  3  4  5
index
0      0  0  0  1  0
1      0  0  0  0  1
2      0  0  1  0  0
3      0  0  1  0  0
4      0  0  1  0  0
...   .. .. .. .. ..
17285  0  0  1  0  0
17286  0  0  1  0  0
17287  0  0  1  0  0
17288  0  0  0  1  0
17289  0  0  0  1  0

[17290 rows x 5 columns]

In [42]:
df_condition.columns = ['Condition_1',"Condition_2","Condition_3","Condition_4","Condition_5"]
df_condition

       Condition_1  Condition_2  Condition_3  Condition_4  Condition_5
index
0                0            0            0            1            0
1                0            0            0            0            1
2                0            0            1            0            0
3                0            0            1            0            0
4                0            0            1            0            0
...            ...          ...          ...          ...          ...
17285            0            0            1            0            0
17286            0            0            1            0            0
17287            0            0            1            0            0
17288            0            0            0            1            0
17289            0            0            0            1            0

[17290 rows x 5 columns]

In [43]:
df = pd.read_csv('kc_house_data_train.csv')

df.rename(columns = {'Unnamed: 0': 'index'}, inplace = True)

df.set_index('index', inplace = True)

dummy = pd.get_dummies(df.condition)

df_condition = pd.concat([dummy,df], axis = 1)

dummy = pd.get_dummies(df.condition)

df_condition = pd.concat([dummy,df], axis = 1)

df_condition = df_condition[[1,2,3,4,5]]

df_condition.columns = ['Condition_1',"Condition_2","Condition_3","Condition_4","Condition_5"]